# Default code owners
*                       @truecharts/core-team @privatepuffin @alfi0812 @kqmaverick @Heavybullets8
/charts/dev/            @privatepuffin
/charts/unstable/       @privatepuffin
/charts/common/         @privatepuffin @stavros-k
/clustertool/           @privatepuffin @stavros-k
/website/               @privatepuffin @alfi0812 @kqmaverick
/.github/CODEOWNERS     @privatepuffin @stavros-k
/.github/scripts/       @privatepuffin @stavros-k
/.github/workflows/     @privatepuffin @stavros-k
/.github/renovate.json5 @privatepuffin @stavros-k
