# Default code owners
*      @ornias1993
*      @truecharts-bot
/charts/stable/     @stavros-k
/charts/incubator/       @stavros-k
/charts/SCALE/      @ornias1993
/charts/core/      @ornias1993
/charts/dependency/      @ornias1993
/charts/enterprise/      @ornias1993
/charts/dev/      @ornias1993
/docs/      @ornias1993 @stavros-k
