{{- define "custom.custom.configuration.header" -}}
# Configuration Options
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

N/A
{{- end -}}

{{ template "custom.custom.configuration" . }}
