{{- define "custom.notes" -}}
This App is supplied by TrueCharts, for more information please visit https://truecharts.org
{{- end -}}
{{ template "chart.description" . }}
{{ template "custom.notes" . }}
