---
import { Image } from "astro:assets";

let { id, img, url } = Astro.props;
---

<li class="flex hover:scale-125 duration-300">
  <a href={url}>
    <Image
      src={img}
      class="rounded-full !h-8 !w-8 object-cover"
      alt={id}
      width={32}
      height={32}
    />
  </a>
</li>
