.direnv
dist/
.cr-gpg
tgz_cache
index_cache
clustertool
talconfig.json
/talconfig.yaml
/talenv.yaml
talsecret.yaml
.sops.yaml
/clusterconfig/
age.agekey
/clusters
/repositories
ssh-public-key.txt
*DS_Store
.DS_Store
/lvm-operator
*.DS_Store
!/embed/**
.DS_Store
.github
embeded/linux*
embeded/darwin*
embeded/windows*
embeded/freebsd*
.devcontainer
.envrc
