{{- define "custom.custom.app-readme" -}}
{{ template "chart.description" . }}

This App is supplied by TrueCharts, for more information please visit https://truecharts.org
{{- end -}}
{{ template "custom.custom.app-readme" . }}
