- op: add
  path: /cluster/inlineManifests
  value:
    - name: flux-system
      contents: |-
        apiVersion: v1
        kind: Namespace
        metadata:
          name: flux-system
    - name: sops-age
      contents: |-
        apiVersion: v1
        data:
          age.agekey: !!AGEKEY!!
        kind: Secret
        metadata:
          creationTimestamp: null
          name: sops-age
          namespace: flux-system
